.LoginSignUp{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.header{
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
}

.gears{
	float:right;
	margin-bottom: -8%;
	margin-right: 10%;
	transform: rotate(30deg);
}

.headerh1{
	clear:right;
}

.gears1{
	float:left;
	margin-top: -10%;
	margin-left: 10%;
	transform: rotate(-140deg);
}

.main{
	color: #fff;
	margin:0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.image{
	max-width: 80%;
	max-height: 80%;
	overflow: hidden;
}

.agile{
	font-size: 1.2em;
}

.footer{
	position: absolute;
	bottom:0;
	left:50%;
	transform : translate(-50%,0);
	color: #fff;
}

.worddef{
	font-size: 1.2em;
	color: rgba(255, 255, 255, .5)
}

.sup{
	font-size: .7em;
	margin-top: -30px;
}

.definition{
	font-size: 1em;
	color: rgba(255, 255, 255, .5)
}

@media only screen and (max-width:  500px){
	.LoginSignUp{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.gears1{
		margin-bottom: -5%;
		margin-left: -5%;
	}

	.worddef{
		font-size: 1em;
	}
	
	.word{
		font-size: 1em;
	}
	
	.sup{
		font-size: .5em;
	}
	
	.definition{
		font-size: .8em;
	}

	.footer{
		position:relative;
	}
}